{% extends 'base.html.twig' %}

{% block title %}Afficher le profil{% endblock %}

{% block body %}
<div class="container">
    <div class="col align-self-center">
    <h1>{{ participant.pseudo }}</h1>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-3">
            <b><p>Prénom :</p>
                <p>Nom :</p>
                <p>Téléphone :</p>
                <p>Email :</p>
                <p>Campus :</p></b>
        </div>

        <div class="col-3">
            <p>{{ participant.prenom }}</p>
            <p>{{ participant.nom }}</p>
            <p>{{ participant.telephone }}</p>
            <p>{{ participant.email }}</p>
            <p>{{ participant.nameCampus.nom }}</p>
        </div>
    </div>
</div>
{% endblock %}
